/* 
Created with passion by Corné Adema / 0xcorne
GitHub: https://github.com/0xcorne
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Overpass&display=swap');

* {
    margin: 0;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Nunito';
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 14%, rgba(9,9,121,1) 58%, rgba(0,212,255,1) 99%);
    color: white;
}

section {
    display: block;
}

.profile_container {
    justify-content: center;
    height: 40vh;
    min-height: 25rem;
    flex-direction: column;
    margin-bottom: 2rem;
}

#profile_pic {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 10vh;
    border: 2px solid white;
    
}

#profile_pic:hover,
#profile_pic:active {
    transform: scaleX(-1);
}

#title {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    position: relative;
    top: 10vh;
}

h2 {
    text-align: center;
    margin-top: 0.5rem;
    position: relative;
    top: 11vh;
}

.social_links {
    margin-top: 2rem; 
    width: 100vw;
    min-height: 430px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    margin: 4rem auto;


}

.social_link_button {
    height: 3rem;
    width: 27rem;
    min-width: 5rem;
    background: white;
    border-radius: 10px;
    position: relative;
    font-family: 'Nunito';
    font-size: 1.2rem;
    margin: 0.7rem auto;
    cursor: pointer;
    
}

.social_link_button:hover,
.social_link_button:active {
    transform: scale(1.1);
    transition: transform .4s
}

a {
    margin: 0 auto;
}


/* TABLET DESIGN */
@media (max-width: 1024px) and (max-height: 1366px) {
    #profile_pic {
        height: 15rem;
        width: 15rem;
        position: relative;

    }

    #title {
        font-size: 3rem;
        margin-top: 1rem;
    }

    #sub_text {
        font-size: 1.5rem;
    }

    .profile_container {
        min-height: 5rem;

    }

    .social_links {
        margin-top: 5rem;
    }

    .social_link_button {
        height: 3rem;
        width: 28rem;
        font-size: 1rem;
        margin: 0.8rem 0.4rem;

        
    }
}

/* MOBILE DESIGN */
@media (max-width: 428px) and (max-height: 700px) {
    #profile_pic {
        height: 10rem;
        width: 10rem;
        position: relative;

    }

    #title {
        font-size: 2rem;
        margin-top: 1rem;
    }

    #sub_text {
        font-size: 1rem;
    }

    .profile_container {
        min-height: 5rem;

    }

    .social_links {
        margin-top: 2.2rem;
    }

    .social_link_button {
        height: 2.2rem;
        width: 19rem;
        font-size: 1rem;
        margin: 0.5rem 0.4rem;

        
    }
}

@media (max-width: 428px) and (max-height: 928px) {
    #profile_pic {
        height: 10rem;
        width: 10rem;
        position: relative;

    }

    #title {
        font-size: 2rem;
        margin-top: 1rem;
    }

    #sub_text {
        font-size: 1rem;
    }

    .profile_container {
        min-height: 5rem;

    }

    .social_links {
        margin-top: 1rem;
    }

    .social_link_button {
        height: 3rem;
        width: 19rem;
        font-size: 1rem;
        margin: 0.8rem 0.4rem;

        
    }
}